.LoginWindow {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: 450px;
    position: relative;

    border-radius: 15px;
    box-shadow: 1px 1px 4px #d3d3d3;
}

.LoginWindow-label {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 6px;
    color: #4a4a4a;
}

.LoginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 20px;
}

.LoginWindow-img {
    align-self: center;
}

.LoginWindow-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    min-width: 80%;
    
}

.InputWithIcon {
    width: 100%;
    position: relative;
}

.InputWithIcon_icon {
    position: absolute;
    width: 20px;
    height: 100%;
    z-index: 1;
    left: 6px;
    top: 50%; transform: translateY(-50%);
}

.InputWithIcon_input {
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 1px 1px 4px #d3d3d3;
    border-radius: 10px;
    font-size: 18px;
    color: #4a4a4a;
    padding: 6px 10px;
    padding-left: 35px;
    letter-spacing: 0.1em;
    position: relative;
}

.LoginBtn {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: #4a4a4a;
    color: #f3f3f3;
}

.LoginWindow-form_pass {
    margin-top: 15px;
}
.LoginWindow-form_btn {
    margin-top: 15px;
}

@media (max-width: 460px) {
    .LoginWindow {
        width: 100%;
        height: 100vh;
        box-shadow: none;
    }
    .LoginWrapper {
        margin: auto;
    }
}