* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 960px;
    flex-direction: column;
    min-height: 100%;
}



@media (max-width: 460px) {
    .container {
        width: 100%;
    }
}